/* Add custom CSS here */
* {
  font-family: "Silkscreen", sans-serif;
}
#image {
  display: none;
}

label:hover {
  cursor: pointer;
}

img {
  width: 500px;
}

.imageContainer {
  display: block;
  width: 500px;
  margin: auto;
}

.btn {
  margin-top: 20px;
  width: 100px;
}
